<!-- SIDEBAR -->
<section id="sidebar">
    <a href="#" class="brand">
        <span class="text">Email</span>
    </a>
    <ul class="side-menu top">
        <li class="active">
            <a href="/auth/homepage">
                <i class='bx bxs-dashboard'></i>
                <span class="text">Inbox</span>
            </a>
        </li>
        <li>
            <a href="/auth/outbox">
                <i class='bx bxs-shopping-bag-alt'></i>
                <span class="text">Outbox</span>
            </a>
        </li>
        <li>
            <a href="/auth/compose">
                <i class='bx bxs-doughnut-chart'></i>
                <span class="text">Compose</span>
            </a>
        </li>
    </ul>
    <form action="/auth/logout" method="POST">
        <ul class="side-menu">
            <li>
                <div class="input-box button logout">
                    <i class='bx bxs-log-out-circle'></i>
                    <input type="Submit" value="Login"
                        style="background-color:white ; color: red; border: none; font-size: 20px; cursor: pointer;">
                </div>
            </li>
        </ul>
    </form>
</section>
<!-- SIDEBAR -->