<!DOCTYPE html>
<html lang="en">

<head>
    <title>Register</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="container">
        <h2>Login and register form with Node.js, Express.js and MySQL</h2>
        <h3>Register form</h3>
        <form action="/register" method="POST">
            <div class="form-group mb-3">
                <label>Full name</label>
                <input type="text" class="form-control" placeholder="Full name" name="fullName">
            </div>
            <div class="form-group mb-3">
                <label>Email</label>
                <input type="text" class="form-control" placeholder="Email" name="email">
            </div>
            <div class="form-group mb-3">
                <label>Password</label>
                <input type="password" class="form-control" placeholder="Password" name="password">
            </div>
            <div class="form-group mb-3">
                <label>Password Confirm</label>
                <input type="password" class="form-control" placeholder="Confirm Password" name="passwordConfirm ">
            </div>
            <div class="d-grid mt-3">
                <button type="submit" class="btn btn-primary form-control">Submit</button>
            </div>
        </form>
    </div>
</body>

</html>